mixin replyLink(event)
  if event.reply_uri
    a(href=event.reply_uri)
      span.glyphicon.glyphicon-share-alt(aria-hidden='true', title='Reply on the service')
      | Reply
    | 
  a(href='/reply?event=' + event._key + '&from=' + current)
    span.glyphicon.glyphicon-pencil(aria-hidden='true', title='Add temporary comment')
    | Comment

mixin eventMetadata(event)
  .row.small
    .col-md-12.text-muted
      if event.uri
        a(href=event.uri)= event.title
      else
        != event.title
  .row.small
    .col-md-8.text-muted
      - var date = new Date(event.timestamp * 1000);
      if event.uri
        a(href=event.uri)
          != date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).substr(-2) + '-' + ('0' + date.getDate()).substr(-2) + ' '
          != ('0' + date.getHours()).substr(-2) + ':' + ('0' + date.getMinutes()).substr(-2) + ':' + ('0' + date.getSeconds()).substr(-2)
      else
        != formattedDate
      != ', '
      - var actorsFilter = filters.actors ? '&actors=' + filters.actors : '' ;
      a(href=current + '?scope=' + event.scope + actorsFilter)
        if event.scope_icon
          img.scope-icon(src=event.scope_icon, alt="")
        != event.scope
    .col-md-4.text-right
      if event.parentEvent
        a(href='#event-' + event.parentEvent._key)= '\u203A ' + event.parentEvent.title + ', '
      +replyLink(event)

mixin eventItem(event, width, indent, binaryClass)
  - var paddingClass = 'col-md-' + indent;
  - var columnClass = 'col-md-' + (width - indent);
  .row.event-item(id='event-' + event._key,
                  data-created-at=event.created_at,
                  data-event-type=event.type,
                  data-event-binary=binaryClass || 'odd',
                  title=event.title + ' by ' + event.actor + '\n\n' + event.description,
                  class='actor-class-' + event.actor_class,
                  class='event-class-' + event.class,
                  class='event-binary-' + (binaryClass || 'odd'))
    if indent
      div(class=paddingClass)
    div(class=columnClass)
      .panel.panel-default(data-event-type=event.type)
        .panel-body(data-event-type=event.type)
          p
            - var scopeFilter = filters.scope ? '&scope=' + filters.scope : '' ;
            - var actorLink = current + '?actors=' + event.actor + scopeFilter;
            if event.actor_icon
              a.actor.actor-icon(href=actorLink, title=event.actor)
                img(src=event.actor_icon, alt=event.actor)
            else
              a.actor(href=actorLink, title=event.actor)
                != event.actor + ':'
            != event.description.replace(/&/g, '&amp;').replace(/>/g, '&gt;').replace(/</g, '&lt;')
          +eventMetadata(event)
