mixin replyLink(event)
  if event.reply_uri
    a(href=event.reply_uri)
      span.glyphicon.glyphicon-pencil(aria-hidden='true')
      | Reply
  else
    a(href='/reply?event=' + event._key + '&from=' + current)
      span.glyphicon.glyphicon-pencil(aria-hidden='true')
      | Reply

mixin eventMetadata(event)
  .row.small
    .col-md-6.text-muted
      - var formattedDate = (new Date(event.timestamp * 1000)).toLocaleString()
      if event.uri
        a(href=event.uri)= formattedDate
      else
        != formattedDate
      , 
      a(href='https://github.com/' + event.repository)= event.repository
    .col-md-6.text-right
      if event.parentEvent
        a(href='#event-' + event.parentEvent._key)= '\u203A ' + event.parentEvent.title + ', '
      +replyLink(event)

mixin eventItem(event, level)
  - var paddingClass = 'col-md-' + level;
  - var columnClass = 'col-md-' + (12 - level);
  .row.event-item(id='event-' + event._key,
                  data-created-at=event.created_at,
                  data-event-type=event.type,
                  title=event.title + ' by ' + event.author,
                  class='author-class-' + event.author_class)
    if level
      div(class=paddingClass)
    div(class=columnClass)
      .panel.panel-default(data-event-type=event.type)
        .panel-body(data-event-type=event.type)
          p
            img(src=event.author_icon, class='author-icon')
            != event.description.replace(/&/g, '&amp;').replace(/>/g, '&gt;').replace(/</g, '&lt;')
          +eventMetadata(event)
  if tree && event.descendants
    each descendantEvent in event.descendants
      +eventItem(descendantEvent, level + 1)
