mixin replyLink(event)
  if event.reply_uri
    a(href=event.reply_uri)
      span.glyphicon.glyphicon-pencil(aria-hidden='true')
      | Reply
  else
    a(href='/reply?event=' + event._key + '&from=' + current)
      span.glyphicon.glyphicon-pencil(aria-hidden='true')
      | Reply

mixin eventMetadata(event)
  .row.small
    .col-md-9.text-muted
      - var formattedDate = (new Date(event.timestamp * 1000)).toLocaleString()
      if event.uri
        a(href=event.uri)= formattedDate
      else
        != formattedDate
      != ', '
      - var authorsFilter = filters.authors ? '&authors=' + filters.authors : '' ;
      a(href=current + '?scope=' + event.scope + authorsFilter)= event.scope
    .col-md-3.text-right
      if event.parentEvent
        a(href='#event-' + event.parentEvent._key)= '\u203A ' + event.parentEvent.title + ', '
      +replyLink(event)

mixin eventItem(event, width, indent, binaryClass)
  - var paddingClass = 'col-md-' + indent;
  - var columnClass = 'col-md-' + (width - indent);
  .row.event-item(id='event-' + event._key,
                  data-created-at=event.created_at,
                  data-event-type=event.type,
                  data-event-binary=binaryClass || 'odd',
                  title=event.title + ' by ' + event.author + '\n\n' + event.description,
                  class='author-class-' + event.author_class,
                  class='event-class-' + event.class,
                  class='event-binary-' + (binaryClass || 'odd'))
    if indent
      div(class=paddingClass)
    div(class=columnClass)
      .panel.panel-default(data-event-type=event.type)
        .panel-body(data-event-type=event.type)
          p
            - var scopeFilter = filters.scope ? '&scope=' + filters.scope : '' ;
            a(href=current + '?authors=' + event.author + scopeFilter)
              img(src=event.author_icon, class='author-icon')
            != event.description.replace(/&/g, '&amp;').replace(/>/g, '&gt;').replace(/</g, '&lt;')
          +eventMetadata(event)
