mixin filtersButton
  button.btn.btn-default.navbar-btn(type='button', data-toggle='modal', data-target='#filters') Filters

mixin filtersDialog
  #filters.modal.fade(role='dialog', aria-hidden='true')
    form(method='GET', action=current)
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title Filters
          .modal-body
            p.input-group
              label.input-group-addon(for='filter-searchTerm') Keywords
              input#filter-searchTerm.form-control(name='searchTerm', value=filters.searchTerm || '', placeholder='Terms to be searched')
            p.input-group
              label.input-group-addon(for='filter-actors') Actors
              input#filter-actors.form-control(name='actors', value=filters.actors || '', placeholder='Name of actors')
            p.input-group
              label.input-group-addon(for='filter-tags') Tags
              input#filter-tags.form-control(name='tags', value=filters.tags || '', placeholder='Tags (comma separated)')
            p.input-group
              != 'From '
              input#filter-after(type='hidden', name='after', value=filters.after)
              input#filter-after-year(placeholder='YYYY', type='number', style='width:5em')
              | -
              input#filter-after-month(placeholder='MM', type='number', style='width:3em')
              | -
              input#filter-after-date(placeholder='DD', type='number', style='width:3em')
              |  
              input#filter-after-hour(placeholder='hh', type='number', style='width:3em')
              | :
              input#filter-after-minute(placeholder='mm', type='number', style='width:3em')
              | :
              input#filter-after-second(placeholder='ss', type='number', style='width:3em')
              | (Oldest timestamp)
            p.input-group
              != ' To '
              input#filter-before(type='hidden', name='before', value=filters.before)
              input#filter-before-year(placeholder='YYYY', type='number', style='width:5em')
              | -
              input#filter-before-month(placeholder='MM', type='number', style='width:3em')
              | -
              input#filter-before-date(placeholder='DD', type='number', style='width:3em')
              |  
              input#filter-before-hour(placeholder='hh', type='number', style='width:3em')
              | :
              input#filter-before-minute(placeholder='mm', type='number', style='width:3em')
              | :
              input#filter-before-second(placeholder='ss', type='number', style='width:3em')
              | (Latest timestamp)
          .modal-footer
            .row
              .col-md-6.text-left
                a.btn.btn-default(href=current) Clear All
              .col-md-6.text-right
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                input.btn.btn-primary(type='submit', value='Apply')
