mixin filtersButton
  button.btn.btn-default.navbar-btn(type='button', data-toggle='modal', data-target='#filters') Filters

mixin filtersDialog
  #filters.modal.fade(role='dialog', aria-hidden='true')
    form(method='GET', action=current)
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title Filters
          .modal-body
            p.input-group
              label.input-group-addon(for='filter-searchTerm') Keywords
              input#filter-searchTerm.form-control(name='searchTerm', value=filters.searchTerm || '', placeholder='Terms to be searched')
            p.input-group
              label.input-group-addon(for='filter-actors') Actors
              input#filter-actors.form-control(name='actors', value=filters.actors || '', placeholder='Name of actors')
            p.input-group
              label.input-group-addon(for='filter-scope') Scope
              input#filter-scope.form-control(name='scope', value=filters.scope || '', placeholder='Scope of events')
            p.input-group
              != 'From '
              input#filter-after(type='number', name='after', value=filters.after)
              != ' to '
              input#filter-before(type='number', name='before', value=filters.before)
          .modal-footer
            a.btn.btn-default(href=current) Clear
            input.btn.btn-primary(type='submit', value='Apply')
