mixin filtersButton
  button.btn.btn-default.navbar-btn(type='button', data-toggle='modal', data-target='#filters') Filters

mixin filtersDialog
  #filters.modal.fade(role='dialog', aria-hidden='true')
    form(method='GET', action=current)
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title Filters
          .modal-body
            p.input-group
              label.input-group-addon(for='filter-searchTerm') Keywords
              input#filter-searchTerm.form-control(name='searchTerm', value=filters.searchTerm || '', placeholder='Terms to be searched')
            p.input-group
              label.input-group-addon(for='filter-actors') Actors
              input#filter-actors.form-control(name='actors', value=filters.actors || '', placeholder='Name of actors')
            p.input-group
              label.input-group-addon(for='filter-scope') Scope
              input#filter-scope.form-control(name='scope', value=filters.scope || '', placeholder='Scope of events')
            p.input-group
              != 'From '
              input#filter-after(type='hidden', name='after', value=filters.after)
              input#filter-after-year(type='number', name='after-year', style='width:5em', placeholder='YYYY')
              | -
              input#filter-after-month(type='number', name='after-month', style='width:3em', placeholder='MM')
              | -
              input#filter-after-date(type='number', name='after-date', style='width:3em', placeholder='DD')
              |  
              input#filter-after-hour(type='number', name='after-hour', style='width:3em', placeholder='hh')
              | :
              input#filter-after-minute(type='number', name='after-minute', style='width:3em', placeholder='mm')
              | :
              input#filter-after-second(type='number', name='after-second', style='width:3em', placeholder='ss')
              | (Oldest timestamp)
              if filters.after
                script(type='text/javascript')
                  | (function() {
                  != 'var afterDate = new Date(' + filters.after + ' * 1000);'
                  |   $('#filter-after-year').attr('value', afterDate.getFullYear());
                  |   $('#filter-after-month').attr('value', afterDate.getMonth() + 1);
                  |   $('#filter-after-date').attr('value', afterDate.getDate());
                  |   $('#filter-after-hour').attr('value', afterDate.getHours());
                  |   $('#filter-after-minute').attr('value', afterDate.getMinutes());
                  |   $('#filter-after-second').attr('value', afterDate.getSeconds());
                  | })();
            p.input-group
              != ' To '
              input#filter-before(type='hidden', name='before', value=filters.before)
              input#filter-before-year(type='number', name='before-year', style='width:5em', placeholder='YYYY')
              | -
              input#filter-before-month(type='number', name='before-month', style='width:3em', placeholder='MM')
              | -
              input#filter-before-date(type='number', name='before-date', style='width:3em', placeholder='DD')
              |  
              input#filter-before-hour(type='number', name='before-hour', style='width:3em', placeholder='hh')
              | :
              input#filter-before-minute(type='number', name='before-minute', style='width:3em', placeholder='mm')
              | :
              input#filter-before-second(type='number', name='before-second', style='width:3em', placeholder='ss')
              | (Latest timestamp)
              if filters.before
                script(type='text/javascript')
                  | (function() {
                  != 'var beforeDate = new Date(' + filters.before + ' * 1000);'
                  |   $('#filter-before-year').attr('value', beforeDate.getFullYear());
                  |   $('#filter-before-month').attr('value', beforeDate.getMonth() + 1);
                  |   $('#filter-before-date').attr('value', beforeDate.getDate());
                  |   $('#filter-before-hour').attr('value', beforeDate.getHours());
                  |   $('#filter-before-minute').attr('value', beforeDate.getMinutes());
                  |   $('#filter-before-second').attr('value', beforeDate.getSeconds());
                  | })();
          .modal-footer
            .row
              .col-md-6.text-left
                a.btn.btn-default(href=current) Clear All
              .col-md-6.text-right
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                input.btn.btn-primary(type='submit', value='Apply')
