div.panel.panel-default
  div.panel-heading(role='tab')
    h3.panel-title
      a#filter-actors-container-toggler(data-toggle='collapse',
                                        href='#filter-actors-container',
                                        aria-controls='filter-actors-container')
        | Actors
  div#filter-actors-container.panel-collapse.collapse(role='tabpanel',
                                                      aria-labelledby='filter-actors-container-toggler')
    div.panel-body
      each actor in actors
        span(style='white-space: nowrap; vertical-align: middle')
          input(type='checkbox',
                id='filter-actors-item-' + escape(actor._key),
                checked=(filters.actors.indexOf(actor._key) > -1)
                data-actor=actor._key)
          label(for='filter-actors-item-' + escape(actor._key))
            if actor.icon
              img.actor-icon(src=actor.icon, alt='')
            else
              span.glyphicon.glyphicon-user(aria-hidden='true')
            != actor._key + '(' + actor._nsubrecs + ')'
        |  
div.panel.panel-default
  div.panel-heading(role='tab')
    h3.panel-title
      a#filter-tags-container-toggler(data-toggle='collapse',
                                      href='#filter-tags-container',
                                      aria-controls='filter-tags-container')
        | Tags
  div#filter-tags-container.panel-collapse.collapse(role='tabpanel',
                                                    aria-labelledby='filter-tags-container-toggler')
    div.panel-body
      each tag in tags
        span(style='white-space: nowrap; vertical-align: middle')
          input(type='checkbox',
                id='filter-tags-item-' + escape(tag._key),
                checked=(filters.tags.indexOf(tag._key) > -1)
                data-tag=tag._key)
          label(for='filter-tags-item-' + escape(tag._key))
            if tag.icon
              img.tag-icon(src=tag.icon, alt='')
            else
              span.glyphicon.glyphicon-tag(aria-hidden='true')
            != tag._key + '(' + tag._nsubrecs + ')'
        |  

