doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title= title + ' - Sharetary'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
  body
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Sharetary
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            - var classesForTimeline = active == '/timeline' ? 'active' : '';
            - var classesForArchive = active == '/archive' ? 'active' : '';
            li(class=classesForTimeline)
              a(href='/timeline') Timeline view
            li(class=classesForArchive)
              a(href='/archive') Archive view

    .container
      h1= title

      mixin eventItem(event)
        .row
          .col-md-12
            .panel.panel-default
              .panel-heading
                a(href=event.uri)=  event.title
              .panel-body
                p= event.description
        if event.children
          each childEvent in event.children
            +eventItem(childEvent)

      each event in events
        +eventItem(event)

    script(type='text/javascript', src='/js/bootstrap.min.js')
