doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title= title + ' - Sharetary'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
  body
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Sharetary
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            - var classesForTimeline = active == '/timeline' ? 'active' : '';
            - var classesForArchive = active == '/archive' ? 'active' : '';
            li(class=classesForTimeline)
              a(href='/timeline') Timeline view
            li(class=classesForArchive)
              a(href='/archive') Archive view

    .container
      h1= title

      mixin eventLabel(event)
        if event.title && event.author
          != event.title
          span.text-muted= ', by ' + event.author
        else if event.title
          != event.title
        else if event.author
          span.text-muted= 'by ' + event.author
        else
          != event.uri

      mixin eventLink(event)
        if event.uri
          a(href=event.uri)
            +eventLabel(event)
        else
          +eventLabel(event)

      mixin replyLink(event)
        a(href='/reply?event=' + event._key)
          span.glyphicon.glyphicon-pencil(aria-hidden='true')
          | Reply

      mixin eventHeading(event, level)
        if level
          .panel-heading
            +eventLink(event)
        else
          .panel-heading
            .row
              .col-md-10
                +eventLink(event)
              .col-md-2.text-right
                +replyLink(event)

      mixin eventMetadata(event)
        .row.small
          .col-md-6.text-muted= (new Date(event.timestamp)).toLocaleString()
          if event.parentEvent
            .col-md-6.text-right
              a(href='#event-' + event.parentEvent._key)= '\u203A ' + event.parentEvent.title

      mixin eventItem(event, level)
        - var paddingClass = 'col-md-' + level;
        - var columnClass = 'col-md-' + (12 - level);
        - var itemClass = event.parent ? 'panel-info' : 'panel-default' ;
        .row(id='event-' + event._key)
          if level
            div(class=paddingClass)
          div(class=columnClass)
            .panel(class=itemClass)
              +eventHeading(event, level)
              .panel-body
                p= event.description
                +eventMetadata(event)
        if tree && event.children
          each childEvent in event.children
            +eventItem(childEvent, level + 1)

      each event in events
        +eventItem(event, 0)

    script(type='text/javascript', src='/js/bootstrap.min.js')
