doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title= title + ' - Sharetary'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
  body
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Sharetary
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            - var classesForTimeline = active == '/timeline' ? 'active' : '';
            - var classesForArchive = active == '/archive' ? 'active' : '';
            li(class=classesForTimeline)
              a(href='/timeline') Timeline view
            li(class=classesForArchive)
              a(href='/archive') Archive view

    .container
      h1= title

      form(method='POST', action='/add-reply')
        p.input-group
          label.input-group-addon(for='author') Author
          input#author.form-control(type='text', name='author', placeholder='Your name')
        p.input-group
          label.input-group-addon(for='title') Title
          input#title.form-control(type='text', name='title', placeholder='Title of this comment')
        p.input-group
          label.input-group-addon(for='uri') URI
          input#uri.form-control(type='text', name='uri', placeholder='Related URI')
        p.input-group
          label.input-group-addon(for='description') Comment
          textarea#description.form-control(name='description', placeholder='Your comment', rows=5)
        p.text-right
          input(type='hidden', name='from', value=from)
          input(type='hidden', name='parent', value=parent)
          input.btn.btn-default(type='submit', value='Submit')

    script(type='text/javascript', src='/js/bootstrap.min.js')
